*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: "Raleway";
  --accent-font: "STIX Two Text";
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font, Helvetica, Arial, sans-serif);
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: transparent;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.header {
  padding-top: 10%;
}

.heading {
  font-family: var(--accent-font, Helvetica, Arial, sans-serif);
  font-style: normal;
  font-weight: 600;
  line-height: 90%;
  text-align: center;
}

.content-section {
  padding: 0 5vi;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  padding-bottom: 40px;
}

.header__menu {
  padding: 20px clamp(1.125rem, 0rem + 5vw, 4.5rem);
  display: flex;
  flex-direction: row;
  gap: 36px;
  justify-content: space-between;
  align-items: center;
  border-width: 1px 0px;
  border-style: solid;
  border-color: var(--text-color);
}

.header__theme-toggler {
  display: flex;
  gap: 17px;
  padding: 6px 0;
  list-style: none;
}

.header__theme-button {
  padding: 0;
  border: none;
  font-family: inherit;
  background-color: inherit;
  color: currentColor;
  cursor: pointer;
  font-style: normal;
  font-size: 18px;
  line-height: 104%;
}

.header__theme-button:hover {
  text-decoration: underline;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid currentColor;
}

.header__theme-button_is-active {
  position: relative;
  font-weight: 600;
  pointer-events: none;
}

.header__theme-button_is-active::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--accent-color);
  height: 6px;
  width: 100%;
  inset-inline-end: 0px;
  inset-block-end: 0.1em;
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url(../images/pattern.svg);
}

.content__title {
  font-size: 30px;
  margin-top: 7%;
  margin-bottom: 2.5%;
}

.content__text-block {
  font-size: 18px;
  width: 100%;
}

.content__text-block_type_first-lettered:has(.content__paragraph)::first-letter {
  background-color: var(--accent-color);
  font-family: var(--main-font, Helvetica, Arial, sans-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #312a4e;
  padding: 0 4px;
  margin-right: 1px;
}

.theme_dark .content__text-block_type_first-lettered:has(.content__paragraph)::first-letter {
  color: var(--text-color);
  border: 1px solid #b3b3b3;
}

.content__paragraph:not(:last-of-type) {
  margin-bottom: 1.5em;
}

.content__figure {
  position: relative;
  margin: 7% auto;
  width: calc(100% + 10vw);
  position: relative;
  left: -5vw;
}

.content__picture {
  width: 100%;
}

.content__picture-caption {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  gap: 10px;
  border-bottom: 1px solid currentColor;
}

.content__blockquote {
  width: 75%;
  margin: 0 auto 1.5em;
  font-family: var(--main-font, Helvetica, Arial, sans-serif);
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
}

.link {
  color: inherit;
  cursor: pointer;
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid currentColor;
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  aspect-ratio: 4/3;
  margin-top: 7vw;
  border: 1px solid var(--text-color);
}

.content__card-title {
  font-size: 60px;
}

.colored-text {
  display: inline-block;
  position: relative;
}

.colored-text::after {
  content: "";
  position: absolute;
  height: 0.25em;
  width: 222px;
  background-color: var(--accent-color);
  z-index: -1;
  inset-inline-end: -2%;
  inset-block-end: 20%;
}

.theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);
}

.content__card-subtitle {
  text-align: center;
  font-size: 18px;
}

.content__list {
  list-style: none;
  inset-inline-start: 40px;
}

.content__list__item {
  position: relative;
}

.content__list__item::before {
  content: "";
  background-image: url(./../images/marker-light.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  inline-size: 15px;
  display: block;
  position: absolute;
  inset: 2px 0 0 -24px;
}

.theme_dark .content__list__item::before {
  background-image: url(./../images/marker-dark.svg);
}

.content__list__item:not(:last-of-type) {
  margin-bottom: 10px;
}

.footer {
  margin-top: 10vw;
  padding: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid currentColor;
}

.footer__copyright {
  font-family: var(--main-font, Helvetica, Arial, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--text-color);
}